.rightPanel {
  padding: 20px;
  margin: 10px;
  /* float: right; */
  /* width: 75%; */
  /* height: 90vh; */
  overflow: auto;
  margin-bottom: 45px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}
.col-form-label {
  text-align: right;
}

@media only screen and (max-width: 768px) {
  .col-form-label {
    text-align: left;
  }
  .rightPanel {
    width: 100%;
    margin-bottom: 50px;
  }
}

.title{
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
}

.button {
  padding: .6rem 2rem;
  line-height: 1.5;
  border-radius: .4rem;
  color: #fff;
  background-color: #1b8bec;
  border-color: #6c757d;
  text-decoration: none;
  border: 1px solid rgb(24, 24, 80);
  display:block;
}

.row{
  margin-top: 8px;
}

.content{
  margin: auto;
  width: 50%;
  border: 3px solid blue;
  padding: 10px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  /* background-color: black; */
}

* {
  box-sizing: border-box;
}

/* Add padding to containers */
.container {
  padding: 16px;
  background-color: white;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit button */
.registerbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity: 1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}

/* Output.css */
.output-container {
  font-family: Arial, sans-serif;
  white-space: pre;
  padding: 10px;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: auto;
  max-height: 400px;
}

.output-container::-webkit-scrollbar {
  width: 8px;
  background-color: #f1f1f1;
}

.output-container::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

.output-container::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.response-container {
  max-width: 100%; /* Ensure the container doesn't exceed the screen width */
  overflow-x: auto; /* Add horizontal scrollbar if needed */
  word-wrap: break-word; /* Wrap long lines of text */
}
